.form_group {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  border: 0px;
  vertical-align: top;
  width: 100%;
}
.try {
  margin-top: 40px;
  margin-bottom: 80px;
}
.two_groups {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.img_style {
  border-radius: 6px;
  box-shadow: 0 0 20px #d3d3d3;
  margin-top: -50px;
  width: 30%;
  z-index: 1;
}
